body {
  font-family: sans-serif;
  width: 90%;
  margin: 0 auto;
}

.image-card img {
  display: block;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.image-card {
  width: 30%;
}

.card-text h3 {
  font-size: 16px;
}

.all-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.all-elephant-cards article img {
  width: 300px;
  height: 200px;
  margin-top: 20px;
}

.all-elephant-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
